<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='indexStyle.css') }}">    
    <title>Home</title>
</head>
<body>
    <header>
        <h1 class="heading">Welcome</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="{{ url_for('login') }}">LogIn</a></li>
                <li><a href="{{ url_for('signup') }}">SignIn</a></li>
            </ul>
        </nav>
    </header>
    <!-- Mid Body -->
    <div class="quote">
        <pre>
            Be thankful for every new challenge.
            Each will give you more strength,
            wisdome and character.
        </pre>
    </div>
</body>
</html>